extends layout

block content
    video(id='local' autoplay='autoplay')
    video(id='remote' autoplay='autoplay')
    script(src='/js/webrtc.io.js')
    script.
        rtc.connect('ws://localhost:8001');
        rtc.createStream({"video": true, "audio":false}, function(stream){
            rtc.attachStream(stream, 'local');
        });
        rtc.on('add remote stream', function(stream){
            // show the remote video
            rtc.attachStream(stream, 'remote');
        });